---

---

<footer class="container my-4">
  <div class="flex justify-between">
    <h3 class="dark:text-light">
      Developed by <span class="text-orange"
        ><strong>Ujjwal Talwar</strong></span
      >
    </h3>
    <div class="socials">
      <a href="https://github.com/Ujjwal1998" class="dark:text-light">GITHUB</a>
      <a href="https://github.com/Ujjwal1998" class="dark:text-light"
        >LINKEDIN</a
      >
    </div>
  </div>
</footer>
