---

---

<footer class="container my-4">
  <div class="flex justify-between">
    <h3 class="dark:text-light">
      Developed by <span class="text-orange"
        ><strong>Ujjwal Talwar</strong></span
      >
    </h3>
    <div class="socials">
      <a
        href="https://github.com/Ujjwal1998"
        class="dark:text-light"
        target="_blank">GITHUB</a
      >
      <a
        href="https://www.linkedin.com/in/ujjwal-talwar-80a171179/"
        class="dark:text-light"
        target="_blank">LINKEDIN</a
      >
    </div>
  </div>
</footer>
