---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { info } from "../data/info";
import Header from "../components/general/Header.astro";
import Hero from "../components/Hero.astro";
import ResumeSection from "../components/ResumeSection.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
---

<!doctype html>
<html lang="en">
  <head><Header title="Portfolio" description="Desc" /> </head>
  <body>
    <Layout>
      <Hero />
      <section class="mt-10">
        <ResumeSection title="Experience" details={info.experience} />
        <ResumeSection title="Education" details={info.education} />
        <ResumeSection title="Certifications" details={info.certifications} />
      </section>
      <!-- <section>
        <h2 class="mt-4 w-[15rem] dark:text-light">Projects</h2>
        <ProjectsSection />
      </section> -->
    </Layout>
  </body>
</html>
