---
import Header from "./general/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<!doctype html>
<html lang="en">
  <head><Header title="Portfolio" description="Desc" /></head>
  <body>
    <Layout>
      <section class="w-full my-16">
        <h2>WORK IN PROGRESS</h2>
      </section>
      <section></section>
    </Layout>
  </body>
</html>
