---
const { title } = Astro.props;
import "../styles/styles.css";
import Header from "../components/general/Header.astro";
import Footer from "../components/general/Footer.astro";
---

<main class="container">
  <slot />
</main>
<Footer />
